@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}
h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}
#main {
    width: 100%;
    padding: 20px;
    text-align: center;
}
button {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-color);
    background: var(--tg-theme-button-text-color);
}
button:hover {
    background: var(--tg-theme-secondary-bg-color);
}
#field{
    margin: 50px auto;
    border-collapse: collapse;
    align-items: center;
}
#field td
{
    font-size: 100px;
    aspect-ratio: 1;
    width: 100%;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
}
#field tr{
    height: 130px;
}
.diagonal-line{
    position: absolute;
    background-color: red; /* Цвет линии */
    height: 2px; /* Толщина линии */
    transform-origin: top left; /* Вращение относительно верхнего левого угла */
}
.box {
    position: relative; /* Для позиционирования */
    width: 300px; /* Ширина блока */
    height: 150px; /* Высота блока */
    background-color: lightblue; /* Цвет фона */
    overflow: hidden; /* Чтобы линия не выходила за границы */
}
#field {
    position: relative; /* Чтобы текст остался ниже линии */
    z-index: 1; /* Устанавливаем меньший z-index, чтобы текст был под линией */
    margin: 50px auto; /* Убираем отступы */
    text-align: center; /* Центрируем текст */
    line-height: 150px; /* Выравниваем текст по высоте блока */
    border-collapse: collapse;
    align-items: center;
}
/*.blocked {*/
/*    pointer-events: none;*/
/*}*/
/*.diagonal::after*/
/*{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%; !* Линия растягивается на всю ширину таблицы *!*/
/*    height: 100%; !* Линия растягивается на всю высоту таблицы *!*/
/*    border-top: 2px solid red; !* Толщина и цвет линии *!*/
/*    transform: rotate(45deg); !* Поворот для диагонали *!*/
/*    transform-origin: top left; !* Поворот от верхнего левого угла *!*/
/*    pointer-events: none; !* Линия не мешает кликам *!*/
/*    box-sizing: border-box;*/
/*}*/

#winner {
    font-size: 70px;
    font-weight: 300;
}